*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#333;
}
li{
    list-style: none;
}
img{
    display: block;
}
html{
    /* overflow: scroll; */
    height: 100%;

}
body{
    height: 100%;
    width:100%;
    font-size:12px;
    font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif;
    color:#333;

}